@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #99c999;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--iconColor);
}

:root {
  --background: #f6fdf6;
  --cardColor: #ffffff;
  --iconColor: #095832;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
